<div style="padding: 0; margin: 0; background-size: cover;">
  <img class="icon ion-image" src="img/abs-banner.jpg" style="width: 100%;">
</div>
<div style="line-height: 1.8em; padding: 5px;">
  <span><p>Aquila Business School is an initiative of Dexnova Consulting Limited, Nigeria in collaboration with Chartered Institute of Management and Leadership, USA. </p>
    <p>The objective of the business school is to provide recognized and affordable Diploma and Advanced Diploma programs in Management courses in order to advance academic and career prospects of the participating students.</p></span>
</div>