<h4 style="color: red">We offer courses in the following areas:</h4>
        <ion-list style="margin-bottom:30px;">
          <ion-item-sliding>

            <ion-item-group>

              <ion-item-divider color="light"><h4>Entrepreneurship &amp; Business Management</h4></ion-item-divider>

              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 col-xs-6 style="float: left;" item-start>
                      <span item-start>Diploma</span>
                    </ion-col>
                    <ion-col col-6 col-xs-6 style="float: right;" item-end>
                      <span><a href="http://abs.dexlearn.com/enrol/index.php?id=169" mm-browser>View</a></span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ion-item>
               <ion-grid>
                  <ion-row>
                    <ion-col col-6 col-xs-6 style="float: left;" item-start>
                      <span>Advanced Diploma</span>
                    </ion-col>
                    <ion-col col-6 col-xs-6 style="float: right;" item-end>
                      <span><a href="http://abs.dexlearn.com/enrol/index.php?id=170" mm-browser>View</a></span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ion-item-divider color="light"><h4>Human Resource Management</h4></ion-item-divider>

              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 col-xs-6 style="float: left;" item-start>
                      <span>Diploma</span>
                    </ion-col>
                    <ion-col col-6 col-xs-6 style="float: right;" item-end>
                      <span><a href="http://abs.dexlearn.com/enrol/index.php?id=171" mm-browser>View</a></span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ion-item>
               <ion-grid>
                  <ion-row>
                    <ion-col col-6 col-xs-6 style="float: left;" item-start>
                      <span>Advanced Diploma</span>
                    </ion-col>
                    <ion-col col-6 col-xs-6 style="float: right;" item-end>
                      <span><a href="http://abs.dexlearn.com/enrol/index.php?id=172" mm-browser>View</a></span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ion-item-divider color="light"><h4>Management &amp; Administration</h4></ion-item-divider>

              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 col-xs-6 style="float: left;" item-start>
                      <span>Diploma</span>
                    </ion-col>
                    <ion-col col-6 col-xs-6 style="float: right;" item-end>
                      <span><a href="http://abs.dexlearn.com/enrol/index.php?id=173" mm-browser>View</a></span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ion-item>
               <ion-grid>
                  <ion-row>
                    <ion-col col-6 col-xs-6 style="float: left;" item-start>
                      <span>Advanced Diploma</span>
                    </ion-col>
                    <ion-col col-6 col-xs-6 style="float: right;" item-end>
                      <span><a href="http://abs.dexlearn.com/enrol/index.php?id=174" mm-browser>View</a></span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

              <ion-item-divider color="light"><h4>Procurement &amp; Supply Chain Management</h4></ion-item-divider>

              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 col-xs-6 style="float: left;" item-start>
                      <span>Diploma</span>
                    </ion-col>
                    <ion-col col-6 col-xs-6 style="float: right;" item-end>
                      <span><a href="http://abs.dexlearn.com/enrol/index.php?id=171" mm-browser>View</a></span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>

            </ion-item-group>

          </ion-item-sliding>
        </ion-list>
        