<!-- <ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}"> -->
<ion-view view-title="{{ 'ABS Mobile' | translate }}">
  <!-- <ion-nav-buttons side="secondary"> -->
     <!--  <button class="button button-icon ion-help-circled" ng-click="showHelp()" aria-label="{{ 'mm.core.help' | translate }}"></button> -->
      <!-- <button class="button" ng-click="connect('http://abs.dexlearn.com/')" >{{ 'LOGIN' | translate }}</button> -->
  <!-- </ion-nav-buttons> -->
  <ion-content padding="true" id="mm-login-site" mm-state-class>
    <ion-content>

      <!-- tabs contents here -->

    <ion-tabs class="tabs-stable tabs-icon-top">
      <ion-tab title="Login" icon="ion-android-contact">
      
        <div ng-include src="'core/components/login/templates/login-content.html'"></div> 
        

      </ion-tab>

      <ion-tab title="Courses" icon="ion-ios-monitor-outline">
       <ion-view>
          <ion-content>
            <div ng-include src="'core/components/login/templates/courses.html'"></div> 
          
        </ion-view>
      </ion-tab>

      <!-- <ion-tab title="Visit Web" icon="ion-android-globe" >

      </ion-tab> -->

      <ion-tab title="About" icon="ion-android-contacts">

        <ion-view>
          <ion-content style="background-color: #ffffff;">
             <div ng-include src="'core/components/login/templates/about.html'"></div>
          </ion-content>
        </ion-view>
           
       </ion-tab>
    </ion-tabs>


  </ion-content>
</ion-view>