<div style="padding: 0; margin: 0; background-size: cover;">
  <img class="icon ion-image" src="img/abs-banner.jpg" style="width: 100%;">
</div>
<div style="padding: 10px 0 10px 0;">
  <div>
    <p>Enrol into</p>
    <h5>Diploma &amp; Advanced Diploma Courses at ABS</h5>
  </div>
  <div>
    <img class="icon ion-image" src="img/home-img.png" width="90%" height="70%" /> 
  </div>   
  <div style="margin-bottom: 20px;">
    <p>Earn a Certificate from</p>
    <h5>Chartered Institute of Management and Leadership, USA </h5>

  </div>
  <div>
    <span>Join us today</span><br>
    <span style="color: red;">abs.dexlearn.com</span>
  </div>
</div>