<ion-view view-title="{{ 'Logout' | translate }}">
  <ion-nav-buttons side="secondary">
     <!--  <button class="button button-icon ion-edit" ng-click="toggleDelete()" ng-show='data.hasSites'></button>
      <button class="button button-icon ion-plus" ng-click="add()"></button> -->
  </ion-nav-buttons>
  <ion-content mm-state-class padding="true" class="mm-center-view text-center" style="background-color: #ffffff;">
      <ion-list>
        <ion-item ng-repeat="site in sites track by site.id" ng-click="login(site.id)" style="border: none;">
          <p style="margin-bottom: 30px;">Thank you for using ABS Mobile App. </p>
          
            <p style="margin-bottom: 15px;"><button class="button button-stable button-block" ng-click="login(site.id)">{{ 'Cancel' | translate }}</button></p>
            
            <button class="button button-stable button-block" ng-click="onItemDelete($event, $index)" >{{ 'Delete my Account on this Device' | translate }}</button>
          </ion-item>
          <p style="margin: 15px;"><button class="button button-stable button-block" ng-click="add()" >{{ 'Logout' | translate }}</button></p>
            
          
          <!-- <img class="avatar" ng-src="{{site.avatar}}" mm-external-content siteid="site.id" alt="{{ 'mm.core.pictureof' | translate:{$a: site.fullname} }}" role="presentation">
          <h2>{{site.fullname}}</h2>
          <p><mm-format-text clean="true" watch="true">{{site.sitename}}</mm-format-text></p>
          <p>{{site.siteurl}}</p>
          <span ng-show="!data.showDelete && site.badge" class="badge badge-positive">{{site.badge}}</span> -->
      
    </ion-list>
  </ion-content>
</ion-view>

